.Header {
  height: 10vh;
  width: 100wh;
  background-color: blue;
  color: white;
  box-sizing: border-box;
}

.Content {
  height: 80vh;
  background-color: white;
  box-sizing: border-box;
}

.Footer {
  height: 10vh;
  background-color: blue;
  color: white;
  box-sizing: border-box;
}